.white-line{
    background-color: white;
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.b-filter>*{
    width: 70px;
    height: 25px;
    margin-top: 10px;
}