.over_styles{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}
.mod_styles{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(189, 177, 177);
    border: 4px solid var(--orange);
    border-radius: 10px;
    height: 600px;
    width: 90vw;
}

.details{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
    /* position: absolute;
    top: 1100px;
    left: 17vw; */
    margin: 50px 100px;
    /* background-color: rgb(183, 188, 190); */
}
.details>.det-img>img{
    display: flex;
    flex: 1;
    width: 100%;
    height: 400px;
}
.details>.det-img{
    width: 600px;
}
.details>.det-jugo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.close-det{
    position: relative;
    top: 20px;
    left: 1180px;
}
.close-det>*{
    height: 25px;
    width: 25px;
    background-color: rgb(43, 41, 41);
    border-radius: 100%;
    color: white;
    cursor: pointer;
}
