.aside{
    margin-top: 0px;
    margin-bottom: 40px;
    /* z-index: -100; */

}
aside>ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.points>.aside>aside{
    background-color: rgb(255, 255, 255);
    height: 32rem;
    width: 13.5rem;
    margin-top: -30px;
    overflow: scroll;
    border: 0.3px solid rgb(212, 209, 209);
}

::-webkit-scrollbar {
    width: 2px;
  }
  ::-webkit-scrollbar-track {
    background: #f0eeee; 
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(110, 107, 107);
  }
aside>ul>li{
    list-style: none;
    color: rgb(75, 74, 72);
    cursor: pointer;
    text-decoration: none;
}

aside>ul>li>b>Link{
    text-decoration: none;
}

.points{
    display: flex;
    flex-direction: row;
    transition: 0.4s;
}



.points>.items{
    margin-left: 20px;
    margin-top: 20px;
}

.filter{
    width: 100px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: none;
    margin: 10px 0 0 10px;
    /* font-family: 'Sofia Sans', sans-serif; */

}


@media screen and (max-width:1000px) {
    .points{
        margin-left: -400px;
        z-index: 10;
        margin-top: -350px;
    }
    .points>.aside>aside{
        width: 25rem;
        height: 40rem;
        margin-top: 0px;
    }
    .cross{
        /* height: 20px;
        width: 20px; */
        margin-left: 150px;
        position: relative;
        top: 30px;
        left: 200px;
    }
    .cross>*{
        height: 30px;
        width: 30px;
        background-color: rgb(205, 202, 209);
        border-radius: 100%;
    }
}