

.main{
    width: 100vw;
    height: 46rem;
    background-image: url("https://img.freepik.com/premium-vector/fruit-vegetables-background_23-2148488960.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    margin-top: -30px;
}



.head{
    margin-top: 20px;
}

.links>button:nth-of-type(1){
    height: 40px;
    width: 130px;
    background-color: rgb(115, 124, 115);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.links>button:nth-of-type(2){
    height: 40px;
    width: 60px;
    background-color: rgb(115, 124, 115);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;

}


/* .main>.heading{
    display: flex;
    justify-content: center;
    align-items: center;
} */