.cards{
    background-color: white;
    height: 17rem;
    border: 0.3px solid rgb(212, 209, 209);
    z-index: 1000;
}

.cards>.img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cards>.img>*{
    width: 31vw;
    height: 13rem;
    margin-top: 30px;
    margin-left: 10px;
}

@media screen and (max-width:700px) {
    .cards>.img{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .cards>.img>*{
        width: 47vw;
    }
    .cards>.img>img:nth-of-type(3){
        display: none;
    }
}



@media screen and (max-width:480px) {
    .cards>.img{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .cards>.img>*{
        width: 96vw;
    }
    .cards>.img>img:nth-of-type(3){
        display: none;
    }
    .cards>.img>img:nth-of-type(2){
        display: none;
    }
}