.items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    position: absolute;
    top: 1030px;
    left: 17vw;
}


.shop-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 26rem;
    width: 16rem;
    background-color: white;
    gap: 1rem;
    text-align: center;
    border: 0.3px solid rgb(212, 209, 209);

}
.shop-items>img{
    height: 15rem;
    width: 14rem;
}
.shop-items:hover{
    margin-top: -5px;
    transition: 0.3s;
}