.head{
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    margin-top: -10px;
    height: 100px;
}

.img>img{
    height: 30px;
    width: 180px;
    margin-top: 40px;
}
.links{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 30px;
}
.links>ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
}
.links>ul>li{
    list-style: none;
    gap: 1rem;
}
.links>ul>li>.link{
    text-decoration: none;
    color: rgb(0, 0, 0);
}



@media screen and (max-width:1000px) {
    /* .links{
        display: none;
    } */
    .form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .head{
        height: 180px;
    }
    .form>form{
        margin-top: 10px;
    }
}

@media screen and (max-width:700px){
    .form>form{
        width: 60vw;
    }
}
@media screen and (max-width:470px){
    .form>form{
        width: 90vw;
    }
}