.overlay_styles{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}
.modal_styles{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    padding: 50px;
    z-index: 1000;
    border: 4px solid var(--orange);
    border-radius: 10px;
    width: 22rem;
}
.close{
    color: black;
    cursor: pointer;
    /* margin-left: 350px; */
}

.close>*{
    height: 17px;
    width: 16px;
}
.seller{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.seller>.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.seller>.top>img{
    height: 30px;
    width: 180px;
}

.seller>form{
    display: flex;
    flex-direction: column;
    width: 24rem;
}
.seller>form>*{
    box-shadow: none;
    width: 21rem;
}
.seller>form>input{
    border: 0.4px solid rgb(110 108 108);
    border-radius: 10px;
    height: 35px;
}
.seller>form>input:nth-of-type(4){
    background-color: rgb(115 124 115);
    border: none;
    color: white;
    cursor: pointer;
}

.bold{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

