.close{
    color: black;
    /* margin-left: 30px; */
    position: relative;
    left: 350px;
    top: -20px;
    cursor: pointer;
}

.close>*{
    height: 17px;
    width: 16px;
}
.seller{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.seller>.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.seller>.top>img{
    height: 30px;
    width: 180px;
}

.seller>form{
    display: flex;
    flex-direction: column;
}
.seller>form>*{
    box-shadow: none;
    width: 24vw;
}
.seller>form>input{
    border: 0.4px solid rgb(110, 108, 108);
    border-radius: 10px;
    height: 35px;
}
.seller>form>input:nth-of-type(4){
    background-color: rgb(115, 124, 115);
    border: none;
    color: white;
    cursor: pointer;

}


.bold{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}